* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century; 
    font-size: 1.1rem;
    font-weight: bold;
    
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* footer section */

footer{
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    opacity: .8;
    text-align: center;
}

/* Home ID section */

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(97, 66, 66, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: grey;
    height: 900px;
    width: 100%;
    z-index: -1; 
    opacity: .8;  
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.main img{
    border-radius: 50%;
    border: solid violet;
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0;
}

/* about section */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px;
    margin-bottom: 50px;
}

#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

/* Portfolio section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0,0.5);
    color: white;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    border-radius: 10px;
    border: solid violet;
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* services section */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.box{
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border: 1px solid;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    background:  linear-gradient(to top, rgb(255,45,45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255,45,45);
}

.box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* contacts section */

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(0,0,0,0.9);
    color: white;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    
}

#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 20px;
    border: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

/* Responsive style */

/* @media screen and (max-width:800px) {
    #pic{
        flex-direction: column;
        align-items: center;
    }
    #pic img{
        width: 475px;
        height: 300px;
    }
} */

@media screen and (max-width:550px){
    #pic{
        flex-direction: column;
        align-items: center;
    }
    #pic img{
        width: 300px;
        height: 300px;
    }
    .headings{
        font-size: 2.5rem;
    }

    .main img{
        width: 300px;
        height: 300px;
    }
    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;

    }

    #intro h2{
        text-align: center;
        padding: 10px;   

    }
}
@media screen and (max-width:300px){
    #pic img{
        width: 100px;
        height: 100px;
    }
    .main img{
        width: 200px;
        height: 200px;
    }
    
    .gallery img{
        width: 200px;
        height: 200px;
        margin: 2px;
    }
    .main h1{
        font-size: 25px;
    }
    
}